<mat-sidenav-container class="m2app-dark">

	<mat-sidenav #sidenav mode="side" class="app-sidenav">
		Sidenav
	</mat-sidenav>

	<mat-toolbar color="primary">
		<button mat-button>
			<mat-icon>menu</mat-icon>
		</button>

		<img src="assets/logo.png" class="logo" />

		<span class="app-toolbar-filler"></span>
		<app-search-bar></app-search-bar>
		<span class="app-toolbar-filler"></span>

		<button mat-button>HELP</button>
	</mat-toolbar>

	<div class="app-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>

<span class="app-action">
	<button mat-fab><mat-icon>check circle</mat-icon></button>
</span>
