<md-sidenav-container class="m2app-dark">

	<md-sidenav #sidenav mode="side" class="app-sidenav">
		Sidenav
	</md-sidenav>

	<md-toolbar color="primary">
		<button md-button>
			<md-icon>menu</md-icon>
		</button>

		<md-chip-list>
			<md-chip>
				Torrent Lama
			</md-chip>
		</md-chip-list>

		<span class="app-toolbar-filler"></span>
		<app-search-bar></app-search-bar>
		<span class="app-toolbar-filler"></span>

		<button md-button>HELP</button>
	</md-toolbar>

	<div class="app-content">
		<router-outlet></router-outlet>

		<!-- <md-card>
			<button md-button>FLAT</button>
			<button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
			<button md-raised-button color="primary">PRIMARY RAISED</button>
			<button md-raised-button color="accent">ACCENT RAISED</button>
		</md-card> -->

	</div>

</md-sidenav-container>

<span class="app-action">
	<button md-fab><md-icon>check circle</md-icon></button>
</span>
